name: Fmt

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.QLTY_APP_ID }}
          private-key: ${{ secrets.QLTY_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: qltysh/qlty-action/fmt@main
      - name: Commit changes
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          title: qlty fmt --all
          body: Automated PR for qlty fmt --all
          labels: chore
          branch: fmt
          delete-branch: true
          sign-commits: true
          commit-message: qlty fmt --all
          committer: qltysh[bot] <168846912+qltysh[bot]@users.noreply.github.com>
          author: qltysh[bot] <168846912+qltysh[bot]@users.noreply.github.com>
